
@using (Html.BeginForm("Chart", "StructureChart", FormMethod.Post, new { @name = "Form1" }))
{
    <div class="col-md-3 mb-10">
            @Html.DropDownList("PUK", new SelectList(Model, "Id", "PUK1"), "Please select", new { @id = "ddlPUK", @class = "form-control" })
    </div>

    @Html.Hidden("areaId", null, new { @id = "pukName" })
}

<div style="display:flex;justify-content:center" class="mb-10">
    <h3>@ViewBag.Name</h3>
</div>

@{
    ViewBag.removeContainer = true;
}

<style>
    #chart-container {
        position: relative;
        font-family: Arial;
        height: 440px;
        border: 1px solid #aaa;
        border-radius: 5px;
        overflow: auto;
        text-align: center;
    }

    .orgchart {
        padding-bottom: 20px;
        background: none !important;
    }

        .orgchart .node .content {
            background-color: #fff;
            color: #000;
            width: 155px;
            height: 35px !important;
            border-radius: 0;
            white-space: pre-wrap !important;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
        }

        .orgchart .node .title {
            width: 155px !important;
            height: 30px !important;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
        }

    .oci {
        display: none !important;
    }
</style>


<div id="chart-container"></div>


@section scripts {    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/3.1.1/css/jquery.orgchart.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/3.1.1/js/jquery.orgchart.min.js"></script>

    <script>
        $("body").on("change", "#ddlPUK", function () {
            var value = $(this).find("option:selected").val();
            $("#pukName").val(value);
            document.forms["Form1"].submit();
        });

        (function ($) {
            $(function () {
                var oc = $('#chart-container').orgchart({
                    'data': '@Url.Action("ShowChart", "StructureChart", new { areaId = ViewBag.areaId })',
                    'depth': 2,
                    'nodeContent': 'title'
                });
            });
        })(jQuery);
    </script>
}
