



@using (Html.BeginForm("UploadExcel", "Members", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{

    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-12">
                Download Format:
                <a href="/Members/DownloadExcel/"><img src="~/Content/excel.png" width="25" height="25" title="Download Excel format" alt="excel" />Click here</a>
            </div>
        </div>


        
        <br />
        <div class="form-group">
            <div class="control-label col-md-2">PUK</div>
            <div class="col-md-5">
                @Html.TextBox("puk", ViewBag.puk as string, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" />
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
